@import "~bootstrap/scss/bootstrap";

body {
  background-color: lightblue;
}

#movies {
  display: flex;
  flex-wrap: wrap;
  
.movie-card {
  margin-top: 20px;
  max-width: 70%;
  text-align: center;
  background: none;
  border: none;
  height: 30%;
  .movie-image {
    height: 70%;
  }
}
}

.hide {
  display: none;
}