@import "~bootstrap/scss/bootstrap";

body {
  background-color: lightblue;
}

#add-movies-div {
  padding: 20px;
}
  
.movie-card {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  background: none;
  border: none;
  .movie-image {
    max-height: 330px;
    padding: 10px;
  }
}

.hide {
  display: none;
}